# ambiente virtual
venv/
.env

# cache python
__pycache__/
*.pyc

# cache de testes
.pytest_cache/

# banco de dados local (gerado em desenvolvimento/testes)
*.db

# arquivos de sistema
.DS_Store

# IDE
.vscode/